@import './variables.scss';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  background: #000 linear-gradient(0deg, #16032a 0%, #2a105e 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.scroll-wrap {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.scroll-wrap .nav-item {
  flex-shrink: 0;
}

.fade-out {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(90deg, #4a1188 1%, rgba(38, 70, 83, 0) 8%, rgba(38, 70, 83, 0) 86%, #4a1188 92%);
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3c3c3c;
}

.overlay--header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.overlay--loading {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
}

.overlay--loading,
.overlay--search {
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
}

.card-shadow {
  box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 60%);
}

.react-card-flip {
  width: 100%;
}

@media (min-width: 576px) {
  .stock-card {
    min-height: 200px;
  }
}

@media (min-width: 768px) {
  .react-card-flip {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .react-card-flip {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .react-card-flip {
    width: 25%;
  }
}
