$primary: #4a1188;
$success: #2bbb62;
$warning: #fcd680;
$danger: #e25a97;
$accent: #3c2556;
$accent-dark: #2a1a3c;
$blue: #3361e1;
$red: #e13333;

$theme-colors: (
  "blue": $blue,
  "red": $red
);

$font-family-monospace: "Fira Mono", monospace;
$body-color: #fff;
$progress-bg: $accent-dark;
$card-bg: $accent;

// Forms
$input-bg: $accent-dark;
$input-color: $body-color;
$input-border-color: $accent-dark;
$input-focus-bg: $accent-dark;
$input-focus-border-color: lighten($accent-dark, 25%);
